In [4]:
num = range(0,20)
for n in num:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
num = range(10,20)
for n in num:
    print(n, end=' ')

10 11 12 13 14 15 16 17 18 19

In [12]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of item in the List2:")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [13]:
str1 = "Artificial Intelligence"
for i in str1:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [15]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [17]:
Tuple1=(0,1,2,3)
Tuple2=('python', 'HOPE')
print("(",Tuple1,",",Tuple2,")")

( (0, 1, 2, 3) , ('python', 'HOPE') )

In [26]:
l1=(20,10,16,19,25,1,276,188)
for i in l1:
    if(i%2 > 0):
        print(i, "is odd")

19 is odd
25 is odd
1 is odd

In [28]:
l1=(20,10,16,19,25,1,276,188)
for i in l1:
    if(i%2== 0):
        print(i, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even